# ─── Public (exposed to browser) ───────────────────

#pag buhat og (.env.local) haha!
NEXT_PUBLIC_API_KAYAK_KEY=Nikaon_Si_Albert_Nikaon_Sa_Akong_Otin
NEXT_PUBLIC_SUPABASE_URL=https://nsbfnxgyzbyewasqfxoa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zYmZueGd5emJ5ZXdhc3FmeG9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4ODgzMTAsImV4cCI6MjA5MzQ2NDMxMH0.4c9onpIkDj-h-CXNWK50ftVQ9SF-2zOMJ5ykKjrq4fw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zYmZueGd5emJ5ZXdhc3FmeG9hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg4ODMxMCwiZXhwIjoyMDkzNDY0MzEwfQ.wppiAXENwR3cH0d3zeGFTYY_3Z-bbltpxDbTc_ZMtZU
BLOCKFROST_PROJECT_ID=preprod1EaGhRPsaN3rkYSHo3jm2ejkJEFNzsfe

# ─── Server-only secrets ──────────────────────────
# DATABASE_URL=
# AUTH_SECRET=
